body{
    font-family: "Poppins", sans-serif !important;
}

.main-image{
    background-image: url("assets/bgimg.jpg"), linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73));
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}


/* navbar */

.navbar-brand {
    color: #ff0000; /* Change this to the desired color code */
}

.navbar-nav .nav-link {
    font-size: 12px; /* Adjust the font size as needed */
    color: white;
}

/* maint text area */

.main-text h4{
    font-weight: 900;
    color: white;
    font-size: 4rem;
}

.main-text h1{
    font-weight: 900;
    color: #F6B054;
    font-size: 5rem;
}

.main-text{
    height: 70%;
}

.main-text p{
    color: white;
}

.order-btn{
    background-color: #F6B054 !important;
}

.order-btn:hover{
    background-color: #FFC107 !important;
}

.more-menu-btn{
    border-color: #F6B054 !important ;
    color: #F6B054 !important;
}

.more-menu-btn:hover {
    color: black !important;
}


